<div class="pane2 stack-pane stack-full-pane">
  <div>
    <h2 title="{{version}}"><span class="heading-label">Release:</span> <span class="class-name">{{version}}</span></h2>
    <ul class="nav nav-tabs" id="tabcontrol">
      <li id="summary-tab-control" class="active">
        <a href="#summary-tab" data-toggle="tab" data-url-fragment="summary">Summary</a>
      </li>
      <li id="changes-tab-control">
        <a href="#changes-tab" data-toggle="tab" data-url-fragment="changes">Changes</a>
      </li>
      <li id="reports-tab-control">
        <a href="#reports-tab" data-toggle="tab" data-url-fragment="reports">Reports</a>
      </li>
    </ul>
    <div class="tab-content">

      <!-- SUMMARY TAB -->
      <div class="tab-pane active" id="summary-tab"><div><p class="compact-hide">Number of resources affected for each node:</p>
        <div class="list-table-wrapper">
          <table class="list-table event-count-list">
            <thead>
              <tr>
                <th scope="col" class="primary sort-header sort-down" data-sort="certname"><span>Node</span></th>
                <th scope="col" class="numeric sort-header" data-sort="failures"><span>Failures</span></th>
                <th scope="col" class="numeric sort-header" data-sort="skips"><span>Skips</span></th>
                <th scope="col" class="numeric sort-header" data-sort="successes"><span>Changes</span></th>
                <th scope="col" class="numeric sort-header" data-sort="noops"><span>No-op</span></th>
                <th scope="col" class="indicator"></th>
              </tr>
            </thead>
          </table>
          <div class="table-container-scroll">
            <table class="list-table event-count-list" id="nodes-table">
              <tbody>
                <tr><td class="primary"><div class="event-indicator event-indicator-failure"></div> <div title="master" class="text-truncated">master</div></td>
                <td class="numeric"><span>1</span></td>
                <td class="numeric"><span>1</span></td>
                <td class="numeric"><span>–</span></td>
                <td class="numeric"><span>–</span></td>
                <td class="transition"><i class="icon-chevron-right"></i></td>
              </tr></tbody>
            </table>
          </div>
        </div>
      </div></div>

      <!-- CHANGES TAB -->
      <div class="tab-pane" id="changes-tab"><div><p class="compact-hide">Changes to be implemented across all nodes:</p>
        <div class="list-table-wrapper">
          <table class="list-table change-count-list">
            <thead>
              <tr>
                <th scope="col" class="string sort-header" data-sort="risk"><span>Risk</span></th>
                <th scope="col" class="numeric sort-header" data-sort="change"><span>Change</span></th>
                <th scope="col" class="indicator"></th>
              </tr>
            </thead>
          </table>
          <div class="table-container-scroll">
            <table class="list-table change-count-list" id="changes-table">
              <tbody>
                <tr ng-repeat="change in changes"> <!-- removed skip filter TODO -->
                  <td class="changeid" ng-switch on="change.risk">
                    <div ng-switch-when="low"    ng-click="unset_risk(change._id)" class="change-indicator change-indicator-low"></div>
                    <div ng-switch-when="medium" ng-click="unset_risk(change._id)" class="change-indicator change-indicator-medium"></div>
                    <div ng-switch-when="high"   ng-click="unset_risk(change._id)" class="change-indicator change-indicator-high"></div>
                    <div ng-switch-default ng-click="set_risk(change._id, 'low')" class="change-indicator change-indicator-low"></div>
                    <div ng-switch-default ng-click="set_risk(change._id, 'medium')" class="change-indicator change-indicator-medium"></div>
                    <div ng-switch-default ng-click="set_risk(change._id, 'high')" class="change-indicator change-indicator-high"></div>

                    <div title="{{change._id}}" class="text-truncated">
                      <a ui-sref='releases.detail.change({changeid: change._id})'>{{change._id | md5short}}</a>
                    </div>
                  </td>
                  <td class="code"><pre>{{change.output}}</pre></td>
                  <td class="transition"><i class="icon-chevron-right"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div></div>

      <!-- REPORTS TAB -->
      <div class="tab-pane" id="reports-tab">
        <div><p class="compact-hide">Number of nodes affected for each resource:</p>
          <div class="list-table-wrapper">
            <table class="list-table report-count-list">
              <thead>
                <tr>
                  <th scope="col" class="reportid sort-header sort-down" data-sort="resource"><span>Node</span></th>
                  <th scope="col" class="numeric sort-header" data-sort="high"><span>High</span></th>
                  <th scope="col" class="numeric sort-header" data-sort="medium"><span>Medium</span></th>
                  <th scope="col" class="numeric sort-header" data-sort="low"><span>Low</span></th>
                  <th scope="col" class="numeric sort-header" data-sort="unassessed"><span>Unassessed</span></th>
                  <th scope="col" class="indicator"></th>
                </tr>
              </thead>
            </table>
            <div class="table-container-scroll">
              <table class="list-table report-count-list" id="reports-table">
                <tbody>
                  <tr ng-repeat="result in results">
                    <td class="reportid"><div class="event-indicator event-indicator-failure"></div> <div title="{{result._id}}" class="text-truncated">{{result._id}}</div></td>
                    <td class="numeric"><span>{{result.msgtime && result.msgtime * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</span></td>
                    <td class="string"><span>{{result.body.statusmsg && result.body.statusmsg || 'CHANGE' }}</span></td>
                    <td class="string">
                      <span ng-repeat="change in result.changes">
                          <pre>{{change | md5short}}</pre>
                      </span>
                    </td>
                    <td class="transition"><i class="icon-chevron-right"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>