<h1>{{ title }}</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Version</th>
      <th>Status</th>
      <th>Deployment</th>
      <!-- <th></th> -->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="release in releases">
      <td>{{release.slug}}</td>
      <td>{{release.status}}</td>
      <td>
        <span class="badge alert-success">{{deployment[release.slug]['dev']}}</span>
        <span class="badge alert-warning">{{deployment[release.slug]['uat']}}</span>
        <span class="badge alert-danger">{{deployment[release.slug]['prod']}}</span>
      </td>
      <!-- <td><a href="/releases/{{release.slug}}">Show</a></td> -->
      <!-- <td><a href="/releases/{{release.slug}}/edit">Edit</a></td> -->
      <td><a href="/releases/{{release.slug}}/check">Check</a></td>
      <td><a href="/releases/{{release.slug}}/summary">Results</a></td>
    </tr>
  </tbody>
</table>