<div ng-controller="ChangeCtrl">
  <h1>{{ title }}</h1>
  <tabset>
    <tab heading="Summary">
      <div class="row">
        <div class="col-md-12">
          <h3>Impact Analysis - {{version}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <progressbar max="result_max" value="result_value" dynamic-max="true">{{result_value}} / {{result_max}}</progressbar>
        </div>
        <div class="col-md-4">
          <button ng-click="analyse()" type="button" class="btn btn-xs btn-success">Restart</button>
          <button ng-click="reset()" type="button" class="btn btn-xs btn-danger">Clear</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Assessed Change Risk</h3>
          <progress max="risk_max" dynamic-max="true">
            <bar ng-repeat="bar in riskdata" value="bar.value" type="{{bar.type}}">{{bar.value}} {{bar.key | capitalize}}</bar>
          </progress>

        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Release Deployment <small>Risk by node for each tier</small></h3>
          <!-- {{ hostriskdata }} -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <h4 class="text-right">{{ nodecount_dev }} Dev Nodes</h4>
        </div>
        <div class="col-md-7 deployment">
          <progress max="nodecount_dev" dynamic-max="true">
            <bar ng-repeat="bar in hostriskdata['dev']" value="bar.value" type="{{bar.type}}">{{bar.value}} {{bar.key | capitalize}}</bar>
          </progress>
        </div>
        <div class="col-md-3 deployment">
          <button ng-click="deploy()" type="button" class="btn btn-xs btn-primary">Deploy</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <h4 class="text-right">{{ nodecount_uat }} UAT Nodes</h4>
        </div>
        <div class="col-md-7 deployment">
          <progress max="nodecount_uat" dynamic-max="true">
            <bar ng-repeat="bar in hostriskdata['uat']" value="bar.value" type="{{bar.type}}">{{bar.value}} {{bar.key | capitalize}}</bar>
          </progress>
        </div>
        <div class="col-md-3 deployment">
          <button ng-click="deploy()" type="button" class="btn btn-xs btn-primary">Deploy</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <h4 class="text-right">{{ nodecount_prod }} Prod Nodes</h4>
        </div>
        <div class="col-md-7 deployment">
          <progress max="nodecount_prod" dynamic-max="true">
            <bar ng-repeat="bar in hostriskdata['prod']" value="bar.value" type="{{bar.type}}">{{bar.value}} {{bar.key | capitalize}}</bar>
          </progress>
        </div>
        <div class="col-md-3 deployment">
          <button ng-click="deploy()" type="button" class="btn btn-xs btn-primary">Deploy</button>
        </div>
      </div>
    </tab>
    <tab heading="Changes">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Changeset</th>
            <th>Change</th>
            <th>Nodes</th>
            <th>Risk</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="change in changes | skip">
            <td>
              <a href="#" tooltip-placement="right" tooltip="{{change._id}}">{{change._id | md5short}}</a>
            </td>
            <td><pre class=".pre-scrollable">{{change.output}}</pre></td>
            <td>
              <span ng-repeat="node in change.nodes">
                {{node}}
              </span>
            </td>
            <td ng-switch on="change.risk">
              <button ng-switch-when="low" ng-click="unset_risk(change._id)" type="button" class="btn btn-xs btn-block btn-success">
                Low <span class="glyphicon glyphicon-remove"></span>
              </button>
              <button ng-switch-when="medium" ng-click="unset_risk(change._id)" type="button" class="btn btn-xs btn-block btn-warning">
                Medium <span class="glyphicon glyphicon-remove"></span>
              </button>
              <button ng-switch-when="high" ng-click="unset_risk(change._id)" type="button" class="btn btn-xs btn-block btn-danger">
                High <span class="glyphicon glyphicon-remove">
              </button>
              <button ng-switch-default ng-click="set_risk(change._id, 'low')" type="button" class="btn btn-xs btn-block btn-success ">Low</button>
              <button ng-switch-default ng-click="set_risk(change._id, 'medium')" type="button" class="btn btn-xs btn-block btn-warning">Medium</button>
              <button ng-switch-default ng-click="set_risk(change._id, 'high')" type="button" class="btn btn-xs btn-block btn-danger">High</button>
            </td>
          </tr>
        </tbody>
      </table>
    </tab>
    <tab heading="Reports">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Node</th>
            <th>Report revision</th>
            <th>Timestamp</th>
            <th>Status</th>
            <th>Changesets</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="result in results">
            <td>{{result._id}}</td>
            <td>{{result._rev | revision}}</td>
            <td>{{result.msgtime && result.msgtime * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
            <td>{{result.body.statusmsg && result.body.statusmsg || 'CHANGE' }}</td>
            <td>
              <span ng-repeat="change in result.changes">
                  <pre>{{change | md5short}}</pre>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </tab>
  </tabset>
</div>