<div class="pane1 stack-pane stack-compact-pane">
  <div>
    <h2>
    <span class="heading-label">Releases:</span> <span class="event-count">1</span> with <span class="event-type-name">failures</span>
    </h2>
    <p class="compact-hide"><em>Number of nodes affected for each class:</em></p>
    <div class="list-table-wrapper">
      <table class="list-table event-count-list">
        <thead>
          <tr>
            <th scope="col" class="primary sort-header sort-down" data-sort="containing-class"><span>Release</span></th>
            <th scope="col" class="numeric sort-header" data-sort="failures"><span>Status</span></th>
            <th scope="col" class="numeric sort-header" data-sort="skips"><span>Deployment</span></th>
            <th scope="col" class="indicator"></th>
          </tr>
        </thead>
      </table>
      <div class="table-container-scroll">
        <table class="list-table event-count-list" id="classes-table">
          <tbody>
            <tr ng-repeat="release in releases" class="list-container-selected">
              <td class="primary">
                <div class="event-indicator event-indicator-failure"></div> 
                <div title="{{release.slug}}" class="text-truncated">
                  <a ui-sref='releases.detail({version: release.slug})'>{{release.slug}}</a>
                </div>
              </td>
              <td class="string"><span>{{release.status}}</span></td>
              <td>
                <span class="badge alert-success">{{deployment[release.slug]['dev']}}</span>
                <span class="badge alert-warning">{{deployment[release.slug]['uat']}}</span>
                <span class="badge alert-danger">{{deployment[release.slug]['prod']}}</span>
              </td>
              <td class="transition"><i class="icon-chevron-right"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>