# main config
libdir = /Users/simon/src/marionette-collective/plugins
logfile = /tmp/mcollective-client.log
loglevel = debug
identity = mcomaster-client.croome.org

# connector plugin config
#connector = activemq
#plugin.activemq.pool.size = 1
#plugin.activemq.pool.1.host = localhost
#plugin.activemq.pool.1.port = 61613
#plugin.activemq.pool.1.user = admin
#plugin.activemq.pool.1.password = secret

connector = redis
plugin.redis.host = 192.168.3.10
#plugin.redis.port = 6379
plugin.redis.db = 1

# security plugin config
securityprovider = none
plugin.psk = unset

default_discovery_method = redisdiscovery
direct_addressing = yes
