<h1>{{ title }}</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Hostname</th>        
      <th>Classes</th> 
      <th>Operating System</th>        
      <th>Last seen</th>  
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="node in nodes">
      <td><a ng-click="view(node.key)">{{node.key}}</a></td>
      <td>{{node.classes.length}}</td>  
      <td>{{node.facts.operatingsystem}}</td>        
      <td>{{node.lastseen * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
    </tr>    
  </tbody>
</table>