<div class="pane1 stack-pane stack-full-pane">
  <div>
    <h2>
      <span class="heading-label">Nodes:</span> <span class="event-count">1</span> with <span class="event-type-name">failures</span>
    </h2>
    <p class="compact-hide"><em>Number of resources affected for each node:</em></p>
    <div class="list-table-wrapper">
      <table class="list-table event-count-list">
        <thead>
          <tr>
            <th scope="col" class="primary sort-header sort-down" data-sort="certname"><span>Node</span></th>
            <th scope="col" class="numeric sort-header" data-sort="failures"><span>Tier</span></th>
            <th scope="col" class="numeric sort-header" data-sort="skips"><span>Resources</span></th>
            <th scope="col" class="numeric sort-header" data-sort="successes"><span>OS</span></th>
            <th scope="col" class="numeric sort-header" data-sort="noops"><span>Last Seen</span></th>
            <th scope="col" class="indicator"></th>
          </tr>
        </thead>
      </table>
      <div class="table-container-scroll">
        <table class="list-table event-count-list" id="nodes-table">
          <tbody>
            <tr ng-repeat="node in nodes">
              <td class="primary">
                <div class="event-indicator event-indicator-failure"></div>
                <div title="{{node.key}}" class="text-truncated"><a ng-click="view(node.key)">{{node.key}}</a></div>
              </td>
              <td class="string"><span>{{node.facts.gonzo_tier}}</span></td>
              <td><class="numeric"><span>{{node.classes.length}}</span></td>
              <td class="event"><span>{{node.facts.operatingsystem}}</span></td>
              <td class="timestamp"><span>{{node.lastseen * 1000 | date:'HH:mm:ss' }}</span></td>
              <td class="transition"><i class="fa fa-chevron-right"></i></td>
            </tr>
            <tr>
              <td class="primary">
                <div class="event-indicator event-indicator-failure"></div> <div title="master" class="text-truncated">master</div>
              </td>
              <td class="numeric"><span>1</span></td>
              <td class="numeric"><span>1</span></td>
              <td class="numeric"><span>–</span></td>
              <td class="numeric"><span>–</span></td>
              <td class="transition"><i class="fa fa-chevron-right"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>