<div ng-controller="ResultCtrl">
  <h1>{{ title }}</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Hostname</th>
        <th>Revision</th> 
        <th>Status</th>
        <th>Message</th>                        
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="result in results">
        <td>{{result._id}}</td>
        <td>{{result._rev }}</td>  
        <td>{{result.statusmsg}}</td>  
        <td>{{result.data.message}}</td>                        
      </tr>    
    </tbody>
  </table>
</div>
