<div class="pane0 stack-pane stack-compact-pane"><div>
  <div id="state-summary">
    <div id="state-summary-classes">
      <div>
        <h2><span class="heading-label">Releases:</span> <span class="event-type-name">most recent</span></h2>
          <div ng-repeat="release in releases">

            <div id="state-summary-classes-successes" class="state-summary-transitionable" data-transition-to="successes">
              <div class="state-summary-graph-text">{{release.slug}}</div>
              <div class="state-summary-graph-count">1</div>
              <div class="state-summary-graph">
                <div class="state-summary-graph-change" style="width: 100%;"></div>
              </div>
              <div class="clearfix"></div>
            </div>

          </div>

          <div id="state-summary-classes-all" class="state-summary-transitionable" data-transition-to="all">
            <a ui-sref="releases">All Releases <i class="fa fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div id="state-summary-nodes">
        <div>
          <h2><span class="heading-label">Nodes:</span> <span class="event-type-name">with events</span></h2>

            <div id="state-summary-nodes-failures" class="state-summary-transitionable state-summary-selected" data-transition-to="failures">
              <div class="state-summary-graph-text">With Failures</div>
              <div class="state-summary-graph-count">1</div>
              <div class="state-summary-graph">
                <div class="state-summary-graph-failure" style="width: 100%;"></div>
              </div>
              <div class="clearfix"></div>
            </div>

            <div id="state-summary-nodes-successes" class="state-summary-transitionable" data-transition-to="successes">
              <div class="state-summary-graph-text">With Changes</div>
              <div class="state-summary-graph-count">0</div>
              <div class="state-summary-graph">
                <div class="state-summary-graph-change" style="width: 0%;"></div>
              </div>
              <div class="clearfix"></div>
            </div>

            <div id="state-summary-nodes-skips" class="state-summary-transitionable" data-transition-to="skips">
              <div class="state-summary-graph-text">With Skips</div>
              <div class="state-summary-graph-count">1</div>
              <div class="state-summary-graph">
                <div class="state-summary-graph-skip" style="width: 100%;"></div>
              </div>
              <div class="clearfix"></div>
            </div>

            <div id="state-summary-nodes-noops" class="state-summary-transitionable" data-transition-to="noops">
              <div class="state-summary-graph-text">With No-op</div>
              <div class="state-summary-graph-count">0</div>
              <div class="state-summary-graph">
                <div class="state-summary-graph-noop" style="width: 0%;"></div>
              </div>
              <div class="clearfix"></div>
            </div>

            <div id="state-summary-nodes-all" class="state-summary-transitionable" data-transition-to="all">
              <a ui-sref="nodes">All Nodes <i class="fa fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
      <div id="state-summary-resources">
        <div>
          <h2><span class="heading-label">Resources:</span> <span class="event-type-name">with events</span></h2>

          <div id="state-summary-resources-failures" class="state-summary-transitionable" data-transition-to="failures">
            <div class="state-summary-graph-text">Failed</div>
            <div class="state-summary-graph-count">1</div>
            <div class="state-summary-graph">
              <div class="state-summary-graph-failure" style="width: 50%;"></div>
            </div>
            <div class="clearfix"></div>
          </div>

          <div id="state-summary-resources-successes" class="state-summary-transitionable" data-transition-to="successes">
            <div class="state-summary-graph-text">Changed</div>
            <div class="state-summary-graph-count">0</div>
            <div class="state-summary-graph">
              <div class="state-summary-graph-change" style="width: 0%;"></div>
            </div>
            <div class="clearfix"></div>
          </div>

          <div id="state-summary-resources-skips" class="state-summary-transitionable" data-transition-to="skips">
            <div class="state-summary-graph-text">Skipped</div>
            <div class="state-summary-graph-count">1</div>
            <div class="state-summary-graph">
              <div class="state-summary-graph-skip" style="width: 50%;"></div>
            </div>
            <div class="clearfix"></div>
          </div>

          <div id="state-summary-resources-noops" class="state-summary-transitionable" data-transition-to="noops">
            <div class="state-summary-graph-text">No-op</div>
            <div class="state-summary-graph-count">0</div>
            <div class="state-summary-graph">
              <div class="state-summary-graph-noop" style="width: 0%;"></div>
            </div>
            <div class="clearfix"></div>
          </div>

          <div id="state-summary-resources-all" class="state-summary-transitionable" data-transition-to="all">
            <a href="javascript:void(0)">All Resources <i class="fa fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>