<%# add navigation links to this file %>
<li class="active"><a href="<%= releases_path %>">Releases</a></li>
<li><a href="<%= hosts_path %>">Hosts</a></li>
<li><a href="<%= products_path %>">Products</a></li>
