<%# add navigation links to this file %>
<li><a href="<%= releases_path %>">Releases</a></li>
<li><a href="<%= products_path %>">Products</a></li>
<li><a href="<%= nodes_path %>">Nodes</a></li>
<li><a href="<%= agents_path %>">Agents</a></li>